/* css externo */

/* rest css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* seletor tag */
header{
    display: flex;
    padding: 0 80px;
    align-items: center;
    justify-content: space-between;

}

/* seletor .class */
.lista{
    display: flex;
    gap: 20px;
}
/* seletor id */
/* #inicio{
    font-size: 24px;
} */

/* seletor descendência */
.lista li{
    list-style: none;
}

/* seletor atributo
li[data-item]{
    font-size: 24px;
} */


.conteudo{
    display: flex;
    gap: 10px;
    margin: 0 10px;

    align-items: center;
    height: 90vh;
}

aside{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.cartao{
    /* orientação */
    display: flex;
    flex-direction: column;
    gap: 0px;
    /* borda */
    border: none;
    border-radius: 10px;
    /* sombra */
    box-shadow: 0px 5px 15px #09090960;

    /* largura altura */
    width:  150px;
    height: 100px;
    padding: .5em;
    text-align: center;
}